
{% block content %}

<body style=" font-family: 'Consolas', monospace;
            background-image: url('https://cdn.pixabay.com/photo/2022/10/03/21/47/fog-7496901_640.jpg');
            background-size: cover;
            display: block;
            justify-content: center;
            text-align: center;">
    <h1 style="color: darkred">Lista de tarefas</h1>
    
    <button type="button" style="background-color: rgba(255, 255, 255, 0.25);
            padding: 20px;
            border-radius: 15px;
            text-align: center;">
            <a href="{% url 'nova' %}" style="text-decoration: none; color: black;">Nova Tarefa</a>
    </button>
    <ul style= "list-style-type: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 10px;
    text-align: center;
    display: block;
    align-items: center;
    text-decoration: none;">
        {% if tarefas %}
        {% for tarefa in tarefas %}
        <a href="{% url 'deletar' tarefa.pk %}" style="text-decoration: none; color: darkred;">
            <li>{{ tarefa.nome_tarefa }}</li>
        </a>
        {% endfor %}
        {% else %}
            <p>Nenhum tarefa encontrada.</p>        
        {% endif %}
    </ul>
</body>
{% endblock %}
